@import "variables";

.Header {
    width: $header-width;
    font-size: $header-fontsize;
    text-align: $text-align-center;
    margin: $header-margin;
    padding: $header-padding;
    border: $header-border;
    color: $header-color;
    background-color: $bg-header
}