@charset "utf-8";

html {
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizelegibility;
        letter-spacing: -0.25px;
    }

    body {
        font-family: 'Space Mono', monospace; 
        display: flex;
        flex-direction: column;
        max-width: 420px;
        padding: 32px;
        margin: 60px auto;
        border: 1px solid #eee;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);

        :global(#root) {
            width: 100%;

            :global(#App) {
                width: 100%;

                .title {
                    margin-bottom: 50px;
                }
            }
        }
    } 
}