:global(#App) {
    .Grocery_Item { 
        color: #4F4F4F; 
        padding-left: 16px;
        margin-top: 24px;
        position: relative;
        font-size: 16px;
        line-height: 20px;

        &:before {
            content: '';
            display: block;
            height: 42px;
            width: 42px;
            border-radius: 50%;
            border: 2px solid #ddd;
            position: absolute;
            top: -12px;
            left: -46px;
        }        

        &:nth-child(odd):before {
            border-color: #0BAD02;
        }

        &:nth-child(even):before {
            border-color: #2378D5;
        }

        strong {
            display: block;
            position: relative;
            top: -10px;
            color: #292929;
        }

        span {
            display: block;
            position: relative;
            top: -7px;
        }        
      
    }
}