.Tab_Item {
	float: right;
	border: 1px solid #999;
	border-radius: 10px 10px 0 0;
	width: 100px;
	height: 22px;
	margin-right: 2px;
	
	text-align: center;
	line-height: 22px;
	
	background-color: #ccc;
	cursor: pointer;

    &:global(.active) {
        background-color: #fc6;
    }    
}

